/* reset ============================================================== reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

/* base ============================================================== base */
.section-header {
  font-size: 3.6rem;
  padding: 30px 0;
  text-align: center;
  font-weight: 100;
}

@media (min-width: 1024px) {
  .section-header {
    font-size: 5rem;
    padding: 60px 0 30px;
  }
}
.section-secondary-head {
  font-size: 2.8rem;
  padding: 30px 0;
  text-align: center;
  font-weight: 100;
}

.content-container {
  padding-bottom: 60px;
}

/* section-text ============================================================== section-text */
.offer-text,
.about-us-text,
.content-text,
.offer-text-page {
  padding: 0 30px;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

/* wrapper ============================================================== wrapper */
.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
/* top-bar ============================================================== top-bar */
/*menu-bar ============================================================== menu-bar*/

.top-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0;
}
.menu-container {
  height: 0;
}
.top-bar {
  display: none;
}

.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  background-color: rgb(85, 111, 205);
}

.text-logo {
  font-size: 2.6rem;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 100;
}
.menu-btn {
  position: relative;
  height: 28px;
  width: 28px;
  cursor: pointer;
}
.menu-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 28px;
  background-color: #fff;
  transition: background 0.2s ease-in;
}
.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  top: 8px;
  height: 2px;
  width: 28px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s 0.2s;
}

.menu-icon::after {
  top: -8px;
}

.menu {
  position: relative;
  top: -400px;
  background-color: #eee;
  box-shadow: 0 2px 5px #666;
  transition: opacity 0.6s linear;
  z-index: -1;
  opacity: 0;
}

nav > ul > li {
  list-style-type: none;
  text-align: center;
}
nav > ul > li > a {
  display: block;
  padding: 8px;
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 100;
  color: #444;
  border-bottom: 2px solid #fff;
}
nav > ul > li > a.active-page {
  background-color: #fff;
  font-weight: 300;
  border-bottom: 2px solid rgb(85, 111, 205);
  color: var(--blue);
}

/* menu-active ============================================================== menu-active*/

nav.menu.active {
  top: 0px;
  opacity: 1;
}

.menu-top.active .menu-btn .menu-icon {
  background-color: transparent;
}
.menu-top.active .menu-btn .menu-icon::before,
.menu-top.active .menu-btn .menu-icon::after {
  top: 0;
  transform: rotate(40deg);
  transition: top 0.2s, transform 0.2s ease-in 0.2s;
}

.menu-top.active .menu-btn .menu-icon::after {
  transform: rotate(-40deg);
}

/*                                                                Menu media */
@media (min-width: 1024px) {
  .menu-top {
    display: none;
  }

  .top-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(85, 111, 205);
  }
  .top-bar > a {
    position: absolute;
    top: 2px;
    left: 25px;
    z-index: 3;
    color: transparent;
  }
  img.top-logo {
    height: 150px;

    position: relative;
  }
  .top-bar-contact {
    display: flex;
  }
  .top-bar-phone,
  .top-bar-mail,
  .top-bar-social {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    font-size: 2rem;
  }
  .top-bar-social {
    padding-left: 0;
  }
  .top-bar-phone {
    background-color: rgb(65, 91, 185);
  }
  .top-bar-social > a {
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
  }
  .menu {
    top: 0;
    opacity: 1;
    box-shadow: none;
    z-index: 2;
    transition: 0s;
  }
  .menu ul {
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }

  nav > ul > li > a,
  nav > ul > li > a.active-page {
    position: relative;
    padding: 15px 15px;
    border-bottom: none;
  }
  nav > ul > li > a.active-page {
    background-color: #eee;
  }
  nav > ul > li > a:hover {
    background-color: #eee;
    color: rgb(85, 111, 205);
  }
  nav > ul > li > a.active-page::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    height: 5px;
    width: 100%;
    background: rgb(85, 111, 205);
  }
}

/* header ============================================================== header */

header {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/hero-m.jpg") center;
  background-size: cover;
}
.header-contact-container {
  position: absolute;
  bottom: 18%;
  width: 100%;
  padding: 25px 25px;
  background-color: rgba(85, 111, 205, 0.8);
  text-align: left;
  color: #fff;
}
.main-head {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 100;
}
.header-phone {
  padding: 0 4px;
  font-size: 1.8rem;
  font-weight: 100;
}
/*                                                                Header media */

@media (min-width: 768px) and (orientation: portrait) {
  .header-contact-container {
    padding: 20px 25px;
  }
  .main-head {
    font-size: 4rem;
  }
  .header-phone {
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../img/hero-l.jpg") center;
  }
}
@media (min-width: 1024px) {
  header {
    margin-top: 111px;
  }
  .main-head {
    font-size: 4rem;
  }
  .header-phone {
    font-size: 2.4rem;
  }
}
@media (min-width: 1280px) {
  .header-contact-container {
    padding: 50px 25px;
  }
  .main-head {
    font-size: 4.6rem;
  }
  .header-phone {
    font-size: 3rem;
  }
}
/* offers ============================================================== offers */
.offer-box {
  background-color: #fff;
  padding: 0 0 60px 0;
}
.offer-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 260px;
}
.offer-img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
}

.offer-header {
  padding: 15px;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 100;
  color: rgb(85, 111, 205);
}

.offer-list {
  padding: 5px 50px 0px;
  line-height: 1.5;
  font-size: 1.6rem;
}

.btn {
  display: block;
  width: 150px;
  padding: 15px 25px;
  margin: 30px auto 0px;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: rgb(85, 111, 205);
  transition: 0.2s;
}
/* -- Even offer style -- */
.offers-container div:nth-of-type(even) .offer-container .btn {
  background-color: #fff;
  color: rgb(85, 111, 205);
}

.offers-container > div:nth-of-type(even) {
  background-color: rgb(85, 111, 205);
}
.offers-container div:nth-of-type(even) .offer-container,
.offers-container div:nth-of-type(even) .offer-container .offer-header {
  color: #fff;
}

/*                                                                Offer media */
@media (min-width: 1024px) {
  .offer-box {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    flex-direction: row;
    padding-bottom: 0;
  }

  .offer-container {
    flex-basis: 50%;
    padding: 0px 0px 60px;
  }
  .offer-img {
    flex-basis: 50%;
  }

  .offer-box:nth-child(even) > .offer-img {
    order: 2;
  }
}

@media (min-width: 1280px) {
  .btn:hover {
    background-color: #fff;
    color: rgb(85, 111, 205);
    box-shadow: 0 0 0 2px rgb(85, 111, 205);
  }
  .offers-container div:nth-of-type(even) .offer-container .btn:hover {
    background-color: rgb(85, 111, 205);
    color: #fff;
    box-shadow: 0 0 0 2px #fff;
  }

  .offer-text {
    padding: 0px 60px;
  }
  .offer-list {
    padding: 0px 80px;
  }
}
/* about-us ============================================================== about-us */
.about-us-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../img/about-us-m.jpg") center;
  background-size: cover;
  padding: 0 0 60px 0;
}

/*                                                                About-us media */
@media (min-width: 768px) {
  .about-us-container {
    padding: 0 50px 60px 50px;
  }
}
@media (min-width: 1280px) {
  .about-us-container {
    padding: 0 100px 60px 100px;
  }
}
@media (min-width: 1400px) {
  .about-us-container {
    padding: 0 150px 60px 150px;
  }
}
@media (min-width: 1500px) {
  .about-us-container {
    padding: 0px 200px 60px 200px;
  }
}

/* features ============================================================== features */
.features-container {
  background-color: rgb(85, 111, 205);
  color: #fff;
}
.features-box {
  text-align: center;
  padding: 0 30px 60px 30px;
}
.feature-box + .feature-box {
  padding: 5px 0;
  margin-top: 20px;
}
.feature-header {
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 5px;
}
.feature-text {
  margin-top: 3px;
  font-size: 1.8rem;
  font-weight: 100;
}

/*                                                                Features media */
@media (min-width: 800px) {
  .features-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .feature-box + .feature-box,
  .feature-box:first-child {
    flex-basis: 40%;
    margin-top: 0px;
    padding: 5px 0;
  }
  .feature-box + .feature-box + .feature-box {
    margin-top: 30px;
  }
  .feature-header {
    font-size: 1.8rem;
  }
  .feature-text {
    font-size: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .features-box {
    padding: 0 100px 60px 100px;
  }
  .feature-box + .feature-box,
  .feature-box:first-child {
    flex-basis: 23%;
    margin-top: 0px;
  }
  .feature-box + .feature-box + .feature-box {
    margin-top: 0px;
  }
}
@media (min-width: 1400px) {
  .feature-header {
    font-size: 2rem;
  }
  .feature-text {
    font-size: 1.8rem;
  }
}
/* contact ============================================================== contact */
.contact {
  background-color: #eee;
}
.contact-container {
  padding: 0 30px 60px 30px;
}

.contact-box {
  font-weight: 100;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2.8rem;
}
.contact-box:last-child {
  margin-bottom: 0px;
}

.contact-box p + p {
  font-size: 2.2rem;
  margin-top: 5px;
}

/* footer ============================================================== footer */
footer {
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: #fff;
  font-weight: 100;
  font-size: 2rem;
  background-color: rgb(85, 111, 205);
}

/*### site about-us ###*/
.about-us-movie {
  padding: 0px 30px;
}
.about-us-movie a {
  text-decoration: none;
  color: #000;
  display: block;
  text-align: left;
  font-size: 1.8rem;
  padding: 5px 0;
}
.about-us-movie a i {
  color: #c4302b;
  margin-right: 5px;
}

/*                                                                About-us-page media */
@media (min-width: 1024px) {
  .about-us-page-container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/*### site offers ###*/
.offer-page-box {
  height: 300px;
  background-size: cover;
}
.offer-page-box > a {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 300px;
  text-transform: uppercase;
  font-size: 2.2rem;
  transition: 0.5s;
}
.content-container-offers {
  padding-bottom: 0;
}

.roof {
  background: url("../img/roof-s.jpg") center;
}
.winter {
  background: url("../img/winter-s.jpg") center;
}
.courses {
  background: url("../img/courses-s.jpg") center;
}
.rent {
  background: url("../img/rent-s.jpg") center;
}
.other {
  background: url("../img/other-s.jpg") center;
}

/*                                                                Offers-page media */

@media (min-width: 768px) {
  .offers-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .offer-page-box {
    flex-basis: 49.7%;
    margin-bottom: 3px;
  }
  .offer-page-box:last-child {
    flex-basis: 99.7%;
  }
}
@media (min-width: 1024px) {
  .offers-page-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  .offer-page-box > a:hover {
    background-color: rgba(85, 111, 205, 0.4);
    font-size: 3rem;
  }
}

/*### site contact ###*/
.business-card {
  margin-top: 40px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 100;
}

.business-card h3 {
  margin-bottom: 10px;
  letter-spacing: 0.4px;
}

a.contact-page-social > i.fa-facebook-square {
  margin-top: 30px;
  font-size: 6rem;
  color: #3b5998;
}
/*                                                                Contact-page media */
@media (min-width: 1024px) {
  .contact-page {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .business-card {
    margin: 0;
  }
}
/* ### offer-page ### */

.offers-details-head {
  height: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/courses-l.jpg") center;
  background-size: cover;
}
.offers-details-head.other {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/other-l.jpg") center;
}
.offers-details-head.roof {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/roof-l.jpg") center;
}
.offers-details-head.winter {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/winter-l.jpg") center;
}
.head-offer-detail {
  text-align: center;
  line-height: 150px;
  color: #fff;
  font-size: 3.4rem;
}

.offer-details-box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px;
  border-bottom: 10px solid rgb(85, 111, 205);
}
.offer-details-box:last-child {
  border-bottom: 50px solid #fff;
}

.offer-details-box ul {
  padding-top: 25px;
}

.offer-details-box ul li {
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #ddd;
  color: #000;
  list-style: none;
  padding: 10px 20px;
}

.offer-details-box ul li:nth-child(odd) {
  background-color: #eee;
}

.offer-details-box h2 {
  text-align: center;
  font-weight: 100;
  font-size: 3.2rem;
  margin: 25px 0;
}

.offer-text-s-page {
  margin-top: 15px;
  padding: 0 30px;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
}

/*                                                                Offer-page media */
@media (min-width: 1024px) {
  .offers-details {
    max-width: 1024px;
    margin: 0 auto;
  }
  .head-offer-detail {
    font-size: 4rem;
  }
}
